.container {
  margin-top: -25px;
  /* Rectangle 1 */

  position: absolute;
  width: 1728px;
  height: 136px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 20px 20px;
}

#botao1 {
  background-color: #8aa17b;
  border-color: none;
}

#botao2 {
  background-color: #586352;
  border-color: none;
}

.retan2 {
  position: absolute;
  width: 726px;
  height: 1117px;
  left: 1002px;
  top: 0px;

  background: #586352;
}

.retan1 {
  /* Rectangle 1 */

  position: absolute;
  width: 1728px;
  height: 136px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 20px 20px;
}
