/* COMEÇO - LOGO DO SITE */

.website-logo {
    display: flex;
}

/* FIM - LOGO DO SITE */


/* COMEÇO - ÁREA DE TAREFAS */

.menuInicial-title {
    color: #586352;
    grid-column: 1/2;
    font-size: 30px;
    text-align: left;
}

.search-bar {
    border-radius: 30px;
    font-size: 14.5px;
}

.tasks-container {
    max-height: 100px;
    margin-bottom: 70px;
}

.box-tarefa{
    display: none;
}

#addTasksButton {
    padding: 10px;
    width: 56.5em;
    border: 2px solid transparent;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.2s ease-in;
    text-align: center;
}

#addTasksButton .btn-img-tasks {
    width: 20px;
    transition: all 0.2s ease-in;
}

#addTasksButton:hover .btn-img-tasks {
    filter: brightness(0) invert(1);
}

#addTasksButton:hover {
    background-color: #8AA17B;
}

.conteiner-addTask {
    position: relative;   
}

#addTasksButton {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 0.55em;
    height: 25px;

}

/* FIM - ÁREA DE TAREFAS */


/* COMEÇO - CALENDÁRIO E PROGRESSO DAS DISCIPLINAS */

#lateral-modais{
 align-content: center;
 left: 50%;
 top: 50%;
}

/*FIM - CALENDÁRIO E PROGRESSO DAS DISCIPLINAS */


/* COMEÇO - PROGRESSOS DAS DISCIPLINAS */

.task-info-title {
    text-align: center;
}

.container-progress {

    display: flex;
    margin-top: 25px;
    margin-left: 70px;
    width: 19.5em;
    height: 15em;
    border-radius: 0.5em;
    padding: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.116);
}

.task-progress-info {
    text-align: left;
}

#name-task-progress {
    margin-top: 15px;
    margin-left: 4px;
    text-align: left;
    display: flex;
}

#progress-percentage {
    margin-left: 188px;
}

.progress-bar {
    width: 270px;
    height: 12.5px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

.progress-bar #level-progress {
    height: 100%;
    border-radius: 10px;
    background-color: #8AA17B;
}

/* FIM - PROGRESSOS DAS DISCIPLINAS */