/*
SACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
DARK COLOR: #414B3B
LIGHT COLOR:#8AA17B
TEXT COLOR:#586352;
GRAY COLOR: #D9D9D9
NOTE  COLORS: #E68B86 - #EDBF74 - #9DAADF  
BLACK: #212427
WHITE: #FFFFFF
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  grid-row: 1fr 1fr 5fr 5fr;
  column-gap: 64px;
  row-gap: 16px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.btn-img {
  width: 24px;
}

.btn-svg {
  width: 12px;
  stroke: #414b3b;
}

.icon {
  width: 24px;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

main {
  grid-column: 2/4;
  grid-row: 3/4;
  padding: 16px 24px;
}

h2 {
  font-size: 24px;
  color: #414b3b;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 140px;
  grid-column: 1/-1;
  padding: 32px;
}

.header-box {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-btn .btn-img {
  width: 32px;
}

.header-btn:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 4px;
}

.website-logo {
  width: 164px;
}

/* ASIDE */

aside {
  grid-column: 1/2;
  grid-row: 3/3;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aside-option {
  display: flex;
  align-items: center;
}

.aside-option a:hover {
  border: 2px solid #8aa17b;
  border-left: 2px solid transparent;
}

.aside-option a {
  padding: 16px 16px 16px 32px;
  border-radius: 0 20px 20px 0;
  width: 100%;
  border: 2px solid transparent;

  display: flex;
  align-items: center;
  gap: 8px;
}

.aside-option .option-icon {
  fill: #414b3b;
  width: 18px;
}

.aside-option span {
  color: #414b3b;
  font-weight: 700;
}

/*ACTIVE*/
.aside-option.active a {
  background-color: #8aa17b;
  color: #ffffff;
}

.aside-option.active span {
  color: #ffffff;
}

.aside-option.active .option-icon {
  filter: brightness(0) invert(1);
}

/*Theme button switch*/
.toggle-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 32px;
}

.toggle-container span {
  font-weight: 700;
  font-size: 14px;
}

#check {
  display: none;
}
.switch {
  position: relative;
  border: 1px solid #414b3b;
  width: 48px;
  height: 24px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 0px 2px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.slider {
  position: absolute;
  background-color: #414b3b;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

#check:checked ~ .switch {
  background-color: #414b3b;
}

#check:checked ~ .switch .slider {
  background-color: #ffffff;
  transform: translateX(24px);
}

/*NAVBAR*/
nav {
  grid-column: 2/-1;
  display: flex;
  border-bottom: 1px solid #414b3b;
  gap: 24px;
}

.window-nav {
  display: flex;
  align-items: end;
  border-bottom: 1px solid #414b3b;
  gap: 4px;
  position: relative;
}

.window-view {
  display: flex;
  align-items: center;
  padding: 8px 64px;
  border: 2px solid transparent;
  border-radius: 20px 20px 0px 0px;
  background-image: linear-gradient(to right, #ffffff, #f5f5f5);
  cursor: pointer;
  position: relative;
}

.close-tab {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
}

.close-icon {
  width: 24px;
}

.add-button {
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 20px 20px 0px 0px;
  transition: all 0.2s ease-in;
}

.window-view:hover {
  background-image: linear-gradient(to right, #f5f5f5, #d8d8d8);
}

.add-button .btn-img {
  width: 20px;
  transition: all 0.2s ease-in;
}

.add-button:hover .btn-img {
  filter: brightness(0) invert(1);
}

.add-button:hover {
  background-color: #414b3b;
}

.window-title {
  font-size: 20px;
  color: #414b3b;
}

/*ACTIVE*/
.window-view.active {
  border-bottom: 2px solid #414b3b;
}

/*HOMESCREEN*/
.homescreen {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 32px;
  column-gap: 64px;
}
.homescreen-title {
  color: #586352;
  grid-column: 1/2;
  font-size: 30px;
}

.search-bar-container {
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  padding: 16px 32px 16px 64px;
  width: 100%;
  border: none;
  box-shadow: 0 5px 5px 1px hsla(210, 10%, 23%, 0.178);
  border: 1px solid #8aa17b;
}

.search-bar:focus {
  outline: 1px solid #8aa17b;
}

.input-icon {
  width: 18px;
  position: absolute;
  transform: translateX(32px);
  color: #8aa17b;
}

.submit-btn {
  position: absolute;
  right: 24px;
  display: flex;
  align-items: center;
}

.submit-icon {
  width: 24px;
  transition: all 0.5s ease-in;
}

.submit-icon:hover {
  transform: rotate(90deg);
}

/*TASK CONTAINER*/
.tasks-container {
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.task-preview {
  border-radius: 16px;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  box-shadow: 5px 5px 5px 0 hsla(210, 10%, 23%, 0.178);
  padding: 28px 32px;
  gap: 16px;
  align-items: center;
  position: relative;
  border: 2px solid #d9d9d9;
}

.task-title {
  grid-column: 1/2;
  grid-row: 1/1;
  height: auto;
  color: #586352;
}

.task-subject {
  grid-column: 2/3;
  grid-row: 1;
  background-color: #8aa17b;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 150px;
}

.task-description {
  grid-row: 2/3;
  grid-column: 1/4;
  color: #586352;
  font-size: 14px;
  align-self: start;
}

.task-details {
  grid-row: 2/3;
  grid-column: 4/5;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-preview.note::before {
  content: "";
  width: 32px;
  height: 40px;
  background-image: url(../assets/imgs/note_icon_red.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -2px;
  right: 32px;
}

/*TASK INFO*/
.homescreen-task-info {
  grid-column: 2/3;
  grid-row: 1/-1;
}

.task-info-title {
  font-size: 24px;
  color: #586352;
  padding-left: 32px;
}

.task-info-title strong {
  font-weight: 900;
}

/*MODAL SUBJECT*/
.add-subject-container {
  left: 50%;
  top: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 32px;
}

.add-subject-container::backdrop {
}

.close-btn {
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  position: absolute;
  right: 32px;
  padding: 2px;
}

.close-btn:hover {
  background-color: #d9d9d9;
}

.add-subject-container h2 {
  margin: 32px 0;
  font-size: 24px;
  font-weight: 700;
}

.add-subject-container input {
  border-radius: 0;
}

.add-subject-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.template-img {
  width: 300px;
}




/* CALENDARIO */
.cal-modal {
  position: relative; /* Para o posicionamento relativo dos elementos filhos */
}

.large-cal-modal-container {
  background: rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.large-cal-modal {
  background: #fff; /* Cor de fundo branca */
  color: #000; /* Cor do texto preto */
  padding: 40px;
  text-align: center;
  position: relative;
  width: 80%; /* Largura do modal */
  height: 80%; /* Altura do modal */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
  border-radius: 10px; /* Borda arredondada */
}

.large-cal-modal button.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000000; /* Cor de fundo do botão */
  border: none;
  color: #fff; /* Cor do texto do botão */
  font-size: 24px;
  cursor: pointer;
  width: 30px; /* Largura do botão */
  height: 30px; /* Altura do botão */
  border-radius: 50%; /* Transforma o botão em um círculo */
}


.large-cal-modal button.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
}

.large-calendar {
  max-width: 80%; /* Ajuste conforme necessário */
  margin: 0 auto; /* Centraliza horizontalmente */
  display: grid; /* Layout de grade */
  grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
  grid-gap: 10px; /* Espaçamento entre as células */
}

.hidden {
  display: none;
}

/* Estilos para a área de overlay do calendário */
.calendar-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Outros estilos */
.current-date {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task {
  margin-bottom: 5px;
}

.flatpickr-day.today {
  background-color: #8AA17B !important;
  border: none !important;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa toda a altura da .cal-modal */
}

#calendar {
  max-width: 80%; /* Ajuste conforme necessário */
  margin: 0 auto; /* Centraliza horizontalmente */
}


/* FIM DO CALENDARIO */

.container2{
  flex-wrap: wrap;
  display: flex;
}

.retan1{
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   margin-left: 50px;
   margin-right: 50px;
   height: 400px;
   width: 300px;
   padding: 5px;
   background-color: #E68B86;
   ;
   
   

}

.retan-subtit{
   margin-right: 10px;
   color: black;
   font-family: "Lato";
   
}

.retan2{
   
   margin-left: 50px;
   margin-right: 50px;
   height: 400px;
   width: 300px;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   background-color: #EDBF74;
}

.retan3{
   
   margin-left: 50px;
   margin-right: 50px;
   height: 400px;
   width: 300px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   padding: 5px;
   background-color:  #9DAADF;
   
}

.Btn{
margin-top: 130px;
margin-left: 50px;
margin-right: 50px;
padding: 5px;
height: 70px;
width: 70px;

}

.lapis{
margin-top: 310px;
margin-left: 210px;
height: 70px;
width: 70px;
}

.salvar{
margin-top: -185px;
margin-left: 10px;
margin-bottom: 15px;
height: 90px;
width: 70px; 
}


#modal{
margin:0 auto;
margin-top: 300px;
border-color: none;
border-radius: 15px;
height: 450px;
width: 510px;
border-color:rgba(0, 0, 0, 0.579);
background-color: rgb(232, 224, 224);

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
align-items: center;
}

.salvar{
width: 120px;
height: 20px;
padding: 10px;
color:white;
margin-top: 340px;
margin-right: 220px;
}

.fechar{
width: 20px;
height: 20px;
padding: 10px;
color: white;
}

.imgclose{
  height: 60px;
  margin-right: 90px ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgsaved{
  height: 50px;
  margin-right: 90px;
  margin-top: -150px;
}

#note-form{
  border-color: white;
}

.form2{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  
}
 
 