.website-logo{
    display: flex;

}

.tasks-container {
    max-height: 100px;
    display: none;
}



.add-tasks-button {
    margin-top: 5px;
    padding-top: 1em;
    padding-bottom: 0.55em;
    border: 0;
    border-radius: 20px 20px 0px 0px;
    transition: all 0.4s ease-in;
    scale: -1;
    height: 25px;
    
}


.add-tasks-button .btn-img-tasks {
    width: 20px;
    transition: all 0.2s ease-in;
    justify-content: center;
    align-items: center;
    
}

.add-tasks-button:hover .btn-img-tasks {
    filter: brightness(0) invert(1);
}   

.add-tasks-button:hover {
    background: #8AA17B;
}

.container-progress {
    margin-top: 25px;
    margin-left: 80px;
    margin-right: 80px;
    width: 20.5em;
    height: 15em;
    border-radius: 0.5em;
    padding: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.116);  
}

.task-progress-info{
    text-align: left;
}

#name-task-progress{
    margin-top: 15px;
    text-align: left;
    display: flex;
}

#progress-percentage{
    margin-left: 196px;
}

.progress-bar{ 
    margin-top: 5px;
    width: 270px;
    height: 12.5px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

.progress-bar #level-progress{
    height: 100%;
    border-radius: 10px;
    background-color: #8AA17B;
}
